<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title layout:fragment="title">BRASFI</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="font-family: 'Inter', sans-serif;">
  <header>...</header>
  <main layout:fragment="content">Conteúdo padrão</main>
  <footer>...</footer>
</body>
</html>
