<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Enviar vídeo</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Enviar vídeo</h2>
<form th:action="@{/videos/salvar}" th:object="${video}" method="post">
    <label>URL do vídeo:</label><br/>
    <input type="text" th:field="*{url}" required/><br/><br/>

    <label>Título do vídeo:</label><br/>
    <input type="text" th:field="*{titulo}" required/><br/><br/>

    <label>Categoria do vídeo:</label><br/>
    <input type="text" th:field="*{categoria}" required/><br/><br/>

    <label>Nome do usuário:</label><br/>
    <input type="text" th:field="*{usuario}" required/><br/><br/>

    <label>Comunidade:</label><br/>
    <input type="text" th:field="*{comunidade}" required/><br/><br/>

    <button type="submit">Salvar</button>

    <div th:if="${param.sucesso}">
        <p style="color: green;">Vídeo salvo com sucesso!</p>
    </div>
</form>

<a th:href="@{/videos/listar}">Listar todos os vídeos</a>
</body>
</html>