<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="m-0 p-0 bg-[#fafafa]" style="font-family: 'Inter', sans-serif;">

<div class="flex flex-col lg:flex-row h-screen bg-[#fafafa] overflow-hidden" >

    <!-- Lado esquerdo: Imagem -->
    <div class="lg:w-1/2 bg-cover bg-center lg:flex hidden items-center justify-center h-screen">
        <img src="/static/exemplo.jpg" alt="Imagem decorativa" class="w-full mb-4">
    </div>

    <!-- Lado direito: Formulário -->
    <div class="lg:w-2/3 flex flex-col items-center justify-center bg-white h-screen p-6 lg:rounded-r-[160px] drop-shadow-lg">
        <div class="w-full max-w-md">

            <div class="mt-8 flex flex-col items-start">
                <img src="/static/favicon-brasfi.png" alt="Logo" class=" mb-8" />
                <p class="font-medium text-2xl mb-2" style="font-family: 'Inter', sans-serif;">Bem-vindo(a) de volta!</p>
                <h1 class="font-bold text-3xl mb-8" style="font-family: 'Inter', sans-serif;">Entre na sua conta</h1>
            </div>

            <!-- Mensagens -->
            <div th:if="${param.error}" class="bg-red-100 text-red-700 p-3 rounded mb-4 text-sm text-left">
                <strong>Erro:</strong> Usuário ou senha inválidos.
            </div>

            <!-- Formulário -->
            <form th:action="@{/login}" method="post" class="mt-8 w-full space-y-4">
                <div>
                    <input type="text" name="username" id="username" placeholder="Email, telefone ou usuário"
                           class="placeholder-[#A1A1A1] placeholder-text-base w-full px-1 py-2 border-b border-[#4B5565] focus:outline-none focus:ring-0 text-black"
                           required>
                </div>

                <div class="relative">
                    <input type="password" name="password" id="password" placeholder="Senha"
                           class="placeholder-[#A1A1A1] w-full px-1 py-2 border-b border-[#4B5565] focus:outline-none focus:ring-0 text-black pr-10"
                           required>
                    <img src="/imagens/eye-slash.svg" class="absolute right-2 top-1/2 transform -translate-y-1/2 w-[24px] cursor-pointer" alt="Mostrar Senha" id="togglePassword">
                </div>

                <div class="flex pt-6 pb-4 justify-between items-center text-sm">
                    <div>
                        <input type="checkbox" id="remember" name="remember" class="mr-1">
                        <label for="remember" class="text-base font-normal text-[#4B5565]">Continuar conectado</label>
                    </div>
                    <a href="/esqueceu-senha" class="font-normal text-[#4B5565] text-base underline">Esqueceu a senha?</a>
                </div>

                <button type="submit"
                        class="w-full px-3 py-2 mt-6 relative inline-flex items-center justify-center font-medium transition duration-300 ease-out bg-[#4D5061] border-2 border-[#4D5061] rounded-[12px] shadow-md hover:bg-[#3f4251] hover:shadow-lg text-white">
                    <span>Entrar</span>
                </button>



                <p class="font-normal text-[#4B5565] text-base flex mt-3 items-center justify-center">Não é membro BRASFI?
                    <a href="/registrar" class="text-black text-base ml-1 font-normal">Cadastre-se</a>
                </p>
            </form>
        </div>
    </div>


</div>

</body>
</html>
