<div th:fragment="modalContent" id="modalDeletar" class="custom-modal-overlay hidden">
    <div class="custom-modal-content text-center p-4">
        <div>
            <div class="mx-auto mt-4 flex items-center justify-center h-20 w-20">
                <svg width="120" height="120" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002-.071.035-.02.004-.014-.004-.071-.035q-.016-.005-.024.005l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427q-.004-.016-.017-.018m.265-.113-.013.002-.185.093-.01.01-.003.011.018.43.005.012.008.007.201.093q.019.005.029-.008l.004-.014-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014-.034.614q.001.018.017.024l.015-.002.201-.093.01-.008.004-.011.017-.43-.003-.012-.01-.01z"/><path d="m13.299 3.148 8.634 14.954a1.5 1.5 0 0 1-1.299 2.25H3.366a1.5 1.5 0 0 1-1.299-2.25l8.634-14.954c.577-1 2.02-1 2.598 0M12 15a1 1 0 1 0 0 2 1 1 0 0 0 0-2m0-7a1 1 0 0 0-.993.883L11 9v4a1 1 0 0 0 1.993.117L13 13V9a1 1 0 0 0-1-1" fill="#65A603"/></g>
                </svg>
            </div>
        </div>

        <div class="custom-modal-body">
            <h5 class="font-bold text-2xl mb-3">Atenção!</h5> <p>
            Você está deletando a trilha <strong id="trilhaTituloModal" class="font-bold"></strong>.<br> Deseja completar a ação? Não poderá ser desfeita.
        </p>
        </div>
        <div class="flex gap-4 justify-center my-4">
            <button type="button"
                    class="px-5 py-2 rounded-md border border-red-700 text-red-700 hover:bg-red-50 transition-colors"
                    onclick="closeDeleteTrilhaModal()">
            Cancelar
        </button>
            <form th:action="@{/trilhas/deletar}" method="post">
                <input type="hidden" id="trilhaIdInput" name="id" />
                <button type="submit"
                        class="px-5 py-2 rounded-md bg-red-700 text-white hover:bg-red-800 transition-colors">
                    Sim, quero deletar.
                </button>
            </form>
        </div>
    </div>
</div>