<div th:fragment="modalContent" id="modalDeletar" class="custom-modal-overlay hidden">
    <div class="custom-modal-content text-center p-4">
        <div class="custom-modal-body">
            <h5 class="fw-bold mb-3">Atenção!</h5>
            <p>
                Você está deletando a trilha <strong id="trilhaTituloModal"></strong>.<br>
                Deseja completar a ação? Não poderá ser desfeita.
            </p>
        </div>
        <div class="custom-modal-footer">
            <button type="button" class="custom-btn custom-btn-outline" onclick="closeDeleteTrilhaModal()">
                Cancelar
            </button>
            <form th:action="@{/trilhas/deletar}" method="post">
                <input type="hidden" id="trilhaIdInput" name="id" />
                <button type="submit" class="custom-btn custom-btn-primary">
                    Sim, quero deletar.
                </button>
            </form>
        </div>
    </div>
</div>